:root {
  --navbar-bg-color: #FF6600;
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-navbar {
  background-color: var(--navbar-bg-color);
  
}

.navbar-border {
  box-shadow:  0px 5px 10px -5px #111
}

.navbar {
  padding-bottom: 0!important;
  padding-top: 0!important;
  padding-left: 0!important;
  padding-right: 0!important; 
  z-index: 1;
    @media (min-width: 992px) {
      height: 6rem;
    }
}

@keyframes nameApparition {
  0% {
      transform: translateY(-50px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes titleApparition {
  0% {
      opacity: 0;
      transform: translateX(-150px) scale(0);
  }

  100% {
      opacity: 1;
      transform: translateX(0px) scale(1);
  }
}

.navbar-brand {
  padding-bottom: 0;
  margin-right: 0!important;
  padding-right: 0!important;
  margin-left: 0!important;
  z-index: 1;
  @media screen and (max-width: 992px) {
    box-shadow:  0px 5px 10px -5px #111
  }

  .navbar-nav {
    z-index: 2;
  }

  h1 {
    animation: nameApparition 1000ms 450ms ease-out both;  
  }
  span {
    display: inline-block;
    animation: titleApparition 1000ms 1000ms ease-out both;
  }
}

.grow {
  transition: all .5s ease-in-out;
}

.grow:hover {
  transform: scale(1.15);
}


.items-margin {
  max-width: 100%;
  height: 60%;
  
  @media screen and (min-width: 992px) {
    padding-top: 0;
    margin-left: 450px;
    height: 100%;
  }
  
}

.nav-link {
  height: 100%;
  display: flex!important;
  justify-content: center;
  align-items: center;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.active {
  border-bottom: 4px solid #fff;
  background-color: #f9741b;
  
}

.docHeight {
  min-height: 100vh;
}

.btn-center {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.btn-rounded {
  border-radius: 2rem;
  border: #fff;
}

@keyframes btn-disappear {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

.disappear {
  animation: btn-disappear 1000ms ease-in-out both;
}

.hidden {
  display: none;
}

@keyframes rightTranslate {
  0% {
    transform: translateX(0px);
  }

  100%{
    transform: translateX(1000px);
    
  }
}

@keyframes leftTranslate {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1000px);
  }
}

.marginx5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.rightTranslate {
  animation: rightTranslate 1000ms ease-in-out both;
}

.leftTranslate {
  animation: leftTranslate 1000ms ease-in-out both;
}

.desc-margin {
  padding: 15px 15px 15px 15px;
}

.desc-border {
  border-radius: 2rem;
}

@keyframes contentApparition {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.content {
  animation: contentApparition 500ms ease-out both;
  background-color: rgb(58, 55, 55);
  transform: translateY(-1000px);
  z-index: 3;
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  p {
    display: block;
  }
}

.content-font {
  color: #fff;
}

.formation {
  animation: contentApparition 1000ms 500ms ease-out both;
}

.formationName {
  animation: contentApparition 1000ms 750ms ease-out both;
}

.formationDesc {
  animation: contentApparition 1000ms 1000ms ease-out both;
}

@keyframes rightSlide {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  80%{
    transform: translateX(150px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes leftSlide {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  80%{
    transform: translateX(-150px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.formationElem {
  &--1 {
    animation: rightSlide 1000ms 1250ms ease-out both;
  }

  &--2 {
    animation: leftSlide 1000ms 1450ms ease-out both;
  }

  &--3 {
    animation: rightSlide 1000ms 1650ms ease-out both;
  }

  &--4 {
    animation: leftSlide 1000ms 1850ms ease-out both;
  }

  &--5 {
    animation: rightSlide 1000ms 2050ms ease-out both;
  }

  &--6 {
    animation: leftSlide 1000ms 2250ms ease-out both;
  }

  &--7 {
    animation: rightSlide 1000ms 2450ms ease-out both;
  }

  &--8 {
    animation: leftSlide 1000ms 2650ms ease-out both;
  }

  &--9 {
    animation: rightSlide 1000ms 2850ms ease-out both;
  }

  &--10 {
    animation: leftSlide 1000ms 3050ms ease-out both;
  }

  &--11 {
    animation: rightSlide 1000ms 3250ms ease-out both;
  }
  
}
.fs4 {
  font-size: 4rem;
}