:root {
  --navbar-bg-color: #FF6600;
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}

.bg-navbar {
  background-color: var(--navbar-bg-color);
  
}

.navbar-border {
  box-shadow:  0px 5px 10px -5px #111
}

.navbar {
  padding-bottom: 0!important;
  padding-top: 0!important;
  padding-left: 0!important;
  padding-right: 0!important; 
  z-index: 1;
    @media (min-width: 992px) {
      height: 6rem;
    }
}

@keyframes nameApparition {
  0% {
      transform: translateY(-50px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes titleApparition {
  0% {
      opacity: 0;
      transform: translateX(-150px) scale(0);
  }

  100% {
      opacity: 1;
      transform: translateX(0px) scale(1);
  }
}

.navbar-brand {
  padding-bottom: 0;
  margin-right: 0!important;
  padding-right: 0!important;
  margin-left: 0!important;
  z-index: 1;
  @media screen and (max-width: 992px) {
    box-shadow:  0px 5px 10px -5px #111
  }

  .navbar-nav {
    z-index: 2;
  }

  h1 {
    animation: nameApparition 1000ms 450ms ease-out both;  
  }
  span {
    display: inline-block;
    animation: titleApparition 1000ms 1000ms ease-out both;
  }
}

.grow {
  transition: all .5s ease-in-out;
}

.grow:hover {
  transform: scale(1.15);
}


.items-margin {
  max-width: 100%;
  height: 60%;
  
  @media screen and (min-width: 992px) {
    padding-top: 0;
    margin-left: 450px;
    height: 100%;
  }
  
}

.nav-link {
  height: 100%;
  display: flex!important;
  justify-content: center;
  align-items: center;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.active {
  border-bottom: 4px solid #fff;
  background-color: #f9741b;
  
}

.docHeight {
  min-height: 100vh;
}

.btn-center {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.btn-rounded {
  border-radius: 2rem;
  border: #fff;
}

@keyframes btn-disappear {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

.disappear {
  animation: btn-disappear 1000ms ease-in-out both;
}

.hidden {
  display: none!important;
}

@keyframes rightTranslate {
  0% {
    transform: translateX(0px);
  }

  100%{
    transform: translateX(1000px);
    
  }
}

@keyframes leftTranslate {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1000px);
  }
}

.marginx5 {
  padding-left: 5rem;
  padding-right: 5rem;
  @media (max-width: 992px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.rightTranslate {
  animation: rightTranslate 1000ms ease-in-out both;
}

.leftTranslate {
  animation: leftTranslate 1000ms ease-in-out both;
}

.desc-margin {
  padding: 15px 15px 15px 15px;
}

.desc-border {
  border-radius: 2rem;
}

@keyframes contentApparition {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.content {
  animation: contentApparition 500ms ease-out both;
  background-color: rgb(58, 55, 55);
  transform: translateY(-1000px);
  z-index: 3;
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  p {
    display: block;
  }
}

.content-font {
  color: #fff;
}

.formation {
  animation: contentApparition 1000ms  ease-out both;
  @media (max-width: 992px) {
    text-align: center;
  }
}

.formationName {
  animation: contentApparition 1000ms 250ms ease-out both;
}

.formationDesc {
  animation: contentApparition 1000ms 500ms ease-out both;
}

@keyframes rightSlide {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }

  80%{
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes leftSlide {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }

  80%{
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.formationElem {
  &--1 {
    animation: rightSlide 1000ms 1250ms ease-out both;
  }

  &--2 {
    animation: leftSlide 1000ms 1450ms ease-out both;
  }

  &--3 {
    animation: rightSlide 1000ms 1650ms ease-out both;
  }

  &--4 {
    animation: leftSlide 1000ms 1850ms ease-out both;
  }

  &--5 {
    animation: rightSlide 1000ms 2050ms ease-out both;
  }

  &--6 {
    animation: leftSlide 1000ms 2250ms ease-out both;
  }

  &--7 {
    animation: rightSlide 1000ms 2450ms ease-out both;
  }

  &--8 {
    animation: leftSlide 1000ms 2650ms ease-out both;
  }

  &--9 {
    animation: rightSlide 1000ms 2850ms ease-out both;
  }

  &--10 {
    animation: leftSlide 1000ms 3050ms ease-out both;
  }

  &--11 {
    animation: rightSlide 1000ms 3250ms ease-out both;
  }
  
}



.fs4 {
  font-size: 4rem;
  @media (max-width: 992px) {
    font-size: 3rem;
  }
}

.skills {
  background-color:hsl(0, 0%, 85%);
  padding-left: 0;
  padding-right: 0;
}

.skillsElement {
  
  box-shadow: 0px 0px 5px;
}

.skillImg{
  
  @media (min-width: 992px) {
    &--left {
      margin-left: 5%;
    }
    &--right {
      margin-left: -5%;
    }
  }
  
}

.skillsGame {
  background-color: rgb(58, 55, 55);
}

.click {
  background-color: #f9741b;
  border-radius: 50%;
  border: 3px solid gray;
  width: 75px;
  height:75px;
  &--1 {
    top: 50%;
    left:random(100) /100 * 100%;
  }
  &--2 {
    top:20%;
    left:80%
  }
  &--3 {
    top:70%;
    left:25%
  }
  &--4 {
    top:40%;
    left:60%
  }
  &--5 {
    top:30%;
    left:10%
  }
  &--6 {
    top:80%;
    left:55%
  }
  &--7 {
    top:10%;
    left:35%
  }
}

.contactForm {
  background-color: #E5E5E5;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 10px;
  @media (max-width: 992px) {
    border-radius: 0;
  }
}

input {
  box-shadow: 0px 5px 10px;
}

textarea {
  box-shadow: 0px 5px 10px;
}

#message {
  height: 200px;
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  .barre {
      display: inline-block;
      width: 20px;
      height: 50px;
      border-radius: 10%;
      margin-right: 1rem;
      animation: loading 1000ms cubic-bezier(0.57, 0.2, 0.57, 0.86);
      position: relative;

      &--1 {
          animation-delay: 0.1s;
      }

      &--2 {
          animation-delay: 0.25s;
      }

      &--3 {
          animation-delay: 0.4s;
      }

      &--4 {
          animation-delay: 0.55s;
      }

      &--5 {
          animation-delay: 0.7s;
      }

      &--6 {
          animation-delay: 0.85s;
      }
  }
}

@keyframes loading {
  0% {
      transform: translateY(-50px);
      background-color: #f9741b;
      opacity: .5;
  }

  50% {
      transform: translateY(50px);
      background-color: rgb(255, 166, 0);
      opacity: 1;
  }

  85% {
      opacity: 1;
  }

  100% {
      transform: translateY(-50px);
      background-color: #f9741b;
      opacity: 0;
  }
}

#page {
  opacity: 0;
  animation: body 2500ms 2200ms forwards;
}

@keyframes body {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}